<body>
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <label>Email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="email.invalid && email.touched" class="error">
      Valid email is required.
    </div>

    <label>Jelszó</label>
    <input type="password" formControlName="password" />
    <div *ngIf="password.invalid && password.touched" class="error">
      Password is required.
    </div>

    <button type="submit" (click)="login()">Bejelentkezés</button>
    <button type="submit" (click)="signup()">Regisztrálás</button>
  </form>
</div>
</body>