<div *ngIf="note">
    <div>
    <h2 class="noteCardTitle" [innerHTML]="title | highLight: searchTerm"></h2>
    <p class="noteCardContent" [innerHTML]="content | highLight: searchTerm"></p>
        <h3 class="noteCardDate">{{ date }}</h3>
        
        <div class="buttonHolder">
            <button class="editButton" 
                    mat-flat-button
                    (click)="editNote()">📝 Edit
            </button>
            <button class="deleteButton" 
                mat-flat-button
                (click)="deleteNote()">🗑️ Delete
            </button>
        </div>
    </div>
</div>