
  <div class="app">
    <aside class="sidebar">
      <div class="logo">🗂️ Notes</div>
      <button class="add-note" (click)="createNote">＋</button>
      <input type="text" class="search" placeholder="Search notes..." />
    </aside>

    <main class="main">
      <h1>Notes</h1>
      <div class="notes-grid">
        @for(n of notes; track $index){
          <div class="note-card color-1">
            <app-note-cards [note]="n"
            ></app-note-cards>
            <!-- <h2 class="title">{}</h2>
            <p>May 21, 2020</p>
            <span class="icon">⭐</span> -->
          </div>
       }
      </div>
    </main>
  </div>

