<div class="create-note-container">
  <h2>{{ isEditMode ? 'Edit Note' : 'Create Note' }}</h2>

  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <label>Title</label>
    <input type="text" formControlName="title"/>
    <div *ngIf="noteForm.get('title')?.invalid && noteForm.get('title')?.touched">
    <small class="error">A cím nem lehet üres!</small>
   </div>

    <label>Content</label>
    <textarea formControlName="content" rows="6"></textarea>

    <button type="submit">{{ isEditMode ? 'Save Changes' : 'Create' }}</button>
    <button type="button" (click)="cancelButton()">Cancel</button>
  </form>
</div>